:root {
	--body-background-color: #fafafa;
	--primary-color: #42b983;
	--primary-color-darken: #37ae78;
	--danger-color: #de2626;;
	--danger-color-darken: #d52323;
	--input-border-color: #d4d4d4;
	--border-color: #eee;
	--border-color-hover: #dbdbdb;
	--shadow-color: #b6b4b4;
	--white: #fff;
	--text-color: #555;
}

body {
	background: var(--body-background-color);
}

* {
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

input, textarea, select {
	border: 1px solid var(--input-border-color);
	border-radius: 5px;
}
input:focus-visible, textarea:focus-visible, select:focus-visible, textarea:focus-visible,
input:focus, textarea:focus, select:focus, textarea:focus {
	border-color: var(--primary-color) !important;
	outline: none;
}
input:focus {
	border: 1px solid var(--primary-color) !important;
}

input, select {
	padding: 5px 10px;
}

textarea {
	padding: 10px 20px;
}

input[type="checkbox"] {
	cursor: pointer;
}

.btn {
	font-size: 1rem;
	color: var(--white);
	padding: 7px 15px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	-webkit-box-shadow: 0px 4px 31px -7px var(--shadow-color);
	-moz-box-shadow: 0px 4px 31px -7px var(--shadow-color);
	-o-box-shadow: 0px 4px 31px -7px var(--shadow-color);
	box-shadow: 0px 4px 31px -7px var(--shadow-color);
}

.btn-lg {
	padding: 10px 20px !important;
	font-size: 1.1rem !important;
}

.primary-btn {
	background: var(--primary-color);
}

.primary-btn:hover {
	background: var(--primary-color-darken);
}

.danger-btn {
	background: var(--danger-color);
}

.danger-btn:hover {
	background: var(--danger-color-darken);
}

.flex-align-center {
	display: flex;
	align-items: center;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.svg-primary {
	filter: invert(57%) sepia(78%) saturate(333%) hue-rotate(101deg) brightness(95%) contrast(84%);
}

.svg-white {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.svg-black {
	filter: invert(29%) sepia(0%) saturate(8%) hue-rotate(185deg) brightness(104%) contrast(85%);
}

.svg-danger {
	filter: invert(27%) sepia(91%) saturate(2746%) hue-rotate(345deg) brightness(83%) contrast(102%);
}